body {
    font-family: 'Graphik', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f5f6f7;
    margin: auto;
    height: 100%;
}

.header {
    display: inline-block;
    top: 0;
}

ul{
    list-style-type: none;
    display: inline-block;
    float: right;
    top: 0; 
    position: fixed;
    z-index: 3;
}

.backgroundImage {
    background-image: linear-gradient(0deg,transparent 60%,rgba(0,0,0,0.2) 90%,rgba(0,0,0,0.4) 100%),url(https://hulu-matchmaker.s3.us-west-2.amazonaws.com/2018-01/1600-lifestyle-background%402x.jpg);
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: right bottom;
    min-height: 660px;
    z-index: -3;
}

.section1Text {
    margin : 0;
    z-index: 3;
    color: #ffff;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.arrow {
    text-align: center;
    width: 557px;
    height: 25px;
    margin: auto;
    position: relative;
    z-index: 3;
    color: #ffff;
}

.arrowSign {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px solid #ffff;
    text-align: center;
    display: flex;
    justify-content: center;
}